.header1{
    color: #20fc96;
    font-size: 54px;
    text-align: center;
}

body {
  background-image: url(../assets/94523.jpg)

}

a.button {
  background: #FFF000;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  border-radius: 10px;
  -webkit-animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
  margin-top: 20px;
}
#container {
		margin: 7S0px;
		width: 220px;
		height: 130px;
		background: #58eb7a;
		overflow: hidden;
        text-align: center;
        display: grid;
	}

	#text-contain {
		position: relative;
		-webkit-animation: textslide 6s infinite;
		animation: textslide 6s infinite;
	}
	h1 {
		margin: 0;
		padding: 0;
    height: 200px; /*Height should be equal to it's container*/
    width: 100%;
		font-size: 30px;
		text-align: center;
		}

	#text3 {font-size: 50px;}

	@-webkit-keyframes textslide {
		0% {top: 15%;}
		25% {top: 15%;}
		30% {top: -85%;}
		55% {top: -85%;}
		60% {top: -190%;}
		85% {top: -190%;}
		100% {top: 15%;}
		}


	@keyframes textslide {
		0% {top: 15%;}
		25% {top: 15%;}
		30% {top: -85%;}
		55% {top: -85%;}
		60% {top: -190%;}
		85% {top: -190%;}
		100% {top: 15%;}
		}

